@model FITkms.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Index";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Index</h2>
@*@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    *@
<fieldset>
        <legend>Database records (@Html.ActionLink("Create search index from database", "CreateIndex"))
        </legend> 
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Title</th>
                  <th>Content</th>
                </tr>
              </thead>
              <tbody>
                  @foreach (var record in Model.AllArticles)
                  {
                <tr>
                  <td>@record.ArticleID</td>
                  <td>@record.Title</td>
                  <td>@Html.Raw(record.Content)</td>
                </tr>
                  }
              </tbody>
            </table>
        @if (ViewBag.Limit > 0)
        {
            <div >
                And <b>@ViewBag.Limit</b> more records... (<a href="Index?limit=0">See all</a>)
            </div>
        }
    </fieldset>

    <fieldset>
        <legend>Custom search</legend>
        
        @using (Html.BeginForm("Search", "Lucene"))
        {
            <label class="checkbox">
                @Html.CheckBoxFor(m => m.SearchDefault) Use default Lucene search
            </label>
            
            <div class="editor-for">
                @Html.LabelFor(m => m.SearchDefault, "Use default Lucene query")
            </div>

            <div class="editor-for">
                @Html.TextBoxFor(m => m.SearchTerm)
            </div>

            <div class="editor-for">
                @Html.DropDownListFor(m => m.SearchField, Model.SearchFieldList.Select(x => new SelectListItem { Text = x.Text, Value = x.Value }),
          new { style = "width:150px;" })
            </div>

            <div>
                <input type="submit" value="Search" />
            </div>

            <div class="clear"></div>
        }
    </fieldset>
  
    <fieldset>
        <legend>Search index
		  (@Html.ActionLink("Optimize", "OptimizeIndex"))
		  (@Html.ActionLink("Clear [X]", "ClearIndex"))
        </legend>

        @if (Model.SearchIndexData.Any())
        {<div class="well">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Title</th>
                  <th>Content</th>
                </tr>
              </thead>
              <tbody>
                  @foreach (var record in Model.SearchIndexData)
                  {
                <tr>
                  <td>@record.ArticleID</td>
                  <td>@record.Title</td>
                  <td>@Html.Raw(record.Content)</td>
                   <td>@Html.ActionLink(" ", "ClearIndexRecord", new { record.ArticleID }, new {@class="icon-remove" })</td>
                </tr>
                  }
              </tbody>
            </table></div>
        }
        else
        {
 <text><br />
            No search index records found...<br /></text>
        }
    </fieldset>

    <fieldset class="add_record">
        <legend>Add/Update search index record</legend>
        Use Id of existing one to update
	 
    @using (Html.BeginForm("AddToIndex", "Lucene"))
    {

        <div class="form_horizontal">
            <p>
                @Html.LabelFor(m => m.Articles.ArticleID)<br />
                @Html.TextBoxFor(m => m.Articles.ArticleID, new { style = "width:40px;" })
            </p>
            <p>
                @Html.LabelFor(m => m.Articles.Title)<br />
                @Html.TextBoxFor(m => m.Articles.Title, new { style = "width:100px;" })
            </p>
            <p>
                @Html.LabelFor(m => m.Articles.Content)<br />
                @Html.TextBoxFor(m => m.Articles.Content, new { style = "width:120px;" })
            </p>
        </div>

        <div class="clear"></div>

        <input type="submit" value="Add/Update Record" />
    }
    </fieldset>


<script type="text/javascript">
    $(document).ready(function () {
        $('#SearchTerm').focus();
        $('.grid tr:even').css("background", "silver");
    });
</script>
