@model FITkms.Models.Articles
@{
    ViewBag.Title = Model.Title;
}



<fieldset>
    <legend>@Html.DisplayFor(model => model.Title)</legend>



    <p>@Html.Raw(Model.Content)</p>

    Category: <span class="label label-info"">@ViewBag.artcat</span>
    <br />
    Tags: 
        @foreach (var item in ViewBag.data)
        {
            <span class="label">@item.Name</span>
        }
    
    <br />
    <br />

</fieldset>

<div class="btn-group">

    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">Action<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("Edit", "Edit", new { id = Model.ArticleID })</li>
        @*<li class="divider"></li>*@
        <li>@Html.ActionLink("Back to home", "Index")</li>
        <li class="divider"></li>
        <li>@Html.ActionLink("Delete", "Delete", new { id = Model.ArticleID })</li>
    </ul>
</div>


<div id="comments">
    <h4>Comments</h4>
    <div class="control-group">
        <div class="controls">
            <textarea name="comment" rows="5" id="comment" class="input-xxlarge"></textarea>
        </div>

    </div>
    <div class="control-group">
        <div class="controls">
            <input type="submit" name="submit" value="Comment" class="btn"/>
        </div>
    </div>
<div class="comment">
        <span class="pull-left">
            Comment 1
            <br />
            comment
        </span>
        <span class="pull-right">
            <a href="#">
                <i class="icon-thumbs-up"></i>
             </a>
            <span class="likes">5</span>
            <a href="#">
                <i class="icon-thumbs-down"></i>
            </a>
            <span class="likes">10</span>
        </span>
    </div>
    <div class="comment">
        <span class="pull-left">
            Comment 1
            <br />
            comment
        </span>
        <span class="pull-right">
            <a href="#">
                <i class="icon-thumbs-up"></i>
             </a>
            <span class="likes">5</span>
            <a href="#">
                <i class="icon-thumbs-down"></i>
            </a>
            <span class="likes">10</span>
        </span>
    </div>
</div>