@model IEnumerable<FITkms.Models.Articles>
@helper Truncate(string input, int length)
{
    if(input.Length <= length)
    {    
        @input    
    }
    else
    {
       @input.Substring(0,length)<text>...</text> 
    }       
}


<p>
   <strong>Last articles</strong>
</p>

@*<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ArticleID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArticleCategoryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateModified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArticleCategoryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>*@
<div class="row-fluid">
    @foreach (var item in Model)
    {
        <div class="span4">
            <h2>@Truncate(item.Title,23)</h2>
            <p>@Html.Raw(item.Content)</p>
            <p>@Html.ActionLink("Read article", "article", new { id = item.ArticleID }, new { @class = "btn" })
            </p>

            @*<p><a class="btn" href="#">View details &raquo;</a></p>*@
        </div>    
    }

</div>
